fastapi>=0.135.0
paddlepaddle>=3.0.0
paddleocr
uvicorn
numpy

# Fix the original Dependabot alerts
python-multipart>=0.0.31
requests>=2.33.0

# Fix the new Dependabot alerts introduced by sub-dependencies
starlette>=1.0.1
opencv-python>=4.10.0.84
opencv-contrib-python>=4.10.0.84
Pillow>=10.3.0
shapely>=2.0.0

# Fix the Docker build errors
crc32c<=2.8
PyMuPDF>=1.23.0